{% extends "base.html" %}
{% block title %}Login - PrintCraft{% endblock %}

{% block content %}
<main class="auth-container">
  <div class="auth-card">

    <div class="auth-tabs">
      <a href="{{ url_for('auth.login') }}" class="tab active">Login</a>
      <a href="{{ url_for('auth.register') }}" class="tab">Signup</a>
    </div>

    <h2>Login Form</h2>

    <!-- Flash messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}

     <form id="login-form" method="POST" 
      action="{{ url_for('auth.login') }}">
            <!-- Preserve next parameter -->
            {% if request.args.get('next') %}
                <input type="hidden" name="next" value="{{ request.args.get('next') }}">
            {% endif %}

            <label for="username_or_email">Username or Email</label>
            <input 
                type="text" 
                name="username_or_email" 
                id="username_or_email" 
                value="{{ request.form.get('username_or_email', '') }}" 
                required
            >

            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>

            <button type="submit" class="btn-login">Login</button>
        </form>

    <p class="switch-text">
      Not a member? <a href="{{ url_for('auth.register') }}">Signup now</a>
    </p>
    <!-- admin -->
    <p class="switch-text">
      <a href="{{ url_for('admin.admin_login') }}">Admin Login</a>
    </p>
  </div>
</main>
 
{% endblock %}
